.color-sample-list {
  display: inline-flex;
  flex-wrap: wrap;
}

.utrecht-page-layout--snap {
  block-size: 100%;
  display: block;
  inline-size: 100%;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  overflow-block: auto;
  overflow-inline: auto;
  overflow-x: auto;
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
  position: relative;

  /* scroll-snap-type: block proximity; */
}

.example-story {
  scroll-snap-align: start;
}

utrecht-page-header,
.utrecht-page-header {
  scroll-snap-align: start;
}

.example-truncated-line-of-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

.column-gap-xs,
.column-gap-sm,
.column-gap-md,
.column-gap-lg,
.column-gap-xl {
  display: flex;
  flex-direction: column;
}

.column-gap-xs {
  row-gap: var(--basis-space-column-xs);
}

.column-gap-sm {
  row-gap: var(--basis-space-column-sm);
}

.column-gap-md {
  row-gap: var(--basis-space-column-md);
}

.column-gap-lg {
  row-gap: var(--basis-space-column-lg);
}

.column-gap-xl {
  row-gap: var(--basis-space-column-xl);
}

:root {
  --utrecht-page-body-content-padding-inline-start: var(--basis-space-inline-md);
  --utrecht-page-body-content-padding-inline-end: var(--basis-space-inline-md);
  --utrecht-icon-size: 1em; /* TODO: Should this become the default icon size in the component, as fallback value? */
}

html {
  background-color: var(--basis-color-default-bg-document-bg-1);
  color-scheme: light dark;
}

body {
  margin-inline: 0;
}

theme-builder-frame {
  display: block;

  /* min-block-size: 50vh; */
  padding-block: 1em;
  scroll-snap-align: center;
  scroll-snap-type: proximity;

  & section {
    margin-block-start: 2em;
  }
}

theme-builder-split-view {
  align-items: start;
  display: grid;
  gap: 2em;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}
